img.gif {
    outline: 2px solid black;
    border-radius: 5px;
    margin: 0 auto; /* center images */

    min-width: 100%;
    max-width: 100%; /* don't overflow available space */
}
.popup {
    visibility: hidden; /* popups are invisible by default */

    position: fixed; /* allows content to float */
    top: 20%; /* more space for the head */
    left: 5%; /* since gifhaven is a vertically designed app we leave less room for left and right */
    right: 5%;

    padding: 10px;
    border-radius: 5px;
    outline: 2px solid black;

    background-color: lightgrey;
}
#blur {
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
}